.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: papayawhip;
}

.Counter {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.Count {
  padding: 0 15px;
}

.Search {
  width: 100%;
  max-width: 800px;
  margin: 0 30px;
}

.FilterInput {
  font-size: large;
  padding: 15px;
  width: 100%;
}

.PokemonTable {
  width: 100%;
}

