.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: papayawhip;
}

.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.Count {
  padding: 0 15px;
}

